@model IEnumerable<ClientMSystem.Models.TimeSheet> // Show List  data on view
@{
    ViewData["Title"] = "Index";
}

<div class="container" id="myForm" onsubmit="sendForm(event)">
        <div class="col-12">
            <!--Divide screen into 8 col-->
        <h1 class="text-center text-primary" style=" font-family: Georgia, serif;font:italic,bold;">
                Task Sheet
            </h1>&nbsp;

        @if (Model != null)
        {
            <table class="table table-bordered">
                <tr class="text-center">
                    <th>ID</th>
                    <th>Date</th>
                    <th>Module</th>
                    <th>Expected Task To Completed</th>
                    <th>Expected Hours</th>
                    <th>Completed Tasks</th>
                    <th>UnPlanned Task</th>
                    <th>Actual Hours</th>
                    <th>Comments For Any Dealy</th>
                    <th>Questions Actions To Be Asked</th>
                    <th>Action</th>
                </tr>
                @foreach (var d in Model)
                {
                    <tr class="text-center">
                        <td>@d.Id</td>
                        <td>@d.Date</td>
                        <td>@d.Module</td>
                        <td>@d.ExpectedTaskToCompleted</td>
                        <td>@d.ExpectedHours</td>
                        <td>@d.CompletedTasks</td>
                        <td>@d.UnPlannedTask</td>
                        <td>@d.ActualHours</td>
                        <td>@d.CommentsForAnyDealy</td>
                        <td>@d.QuestionsActionsToBeAsked</td>

                        <td style="display: flex; justify-content: space-between;">
                            
                                <a class="btn btn-sm btn-warning" style="margin-right:5px;" role="button" asp-controller="TaskSheet" asp-action="Edit" asp-route-id="@d.Id">Edit Sheet</a>

                                <a class="btn btn-sm btn-success" style="margin-right:5px;" role="button" asp-controller="TaskSheet" asp-action="Createpdf" asp-route-id="@d.Id">Create PDF</a>


                            <a class="btn btn-sm btn-danger" style="margin-right:5px;" role="button" asp-controller="TaskSheet" asp-action="Delete" asp-route-id="@d.Id">Delete Sheet</a>
                            <a class="btn btn-sm btn-primary" role="button" asp-controller="Request" asp-action="Send" asp-route-id="@d.Id">Request for Approval</a>
                        </td>
                    </tr>
                }
            </table>
        }
            <a class="btn btn-sm btn-success m-4" asp-controller="TaskSheet" asp-action="Create">Add new Update</a>
            <p class="text-center text-success">@TempData["error"]</p>
        @await Html.PartialAsync("_NotificationPartial")
        </div>
    </div>

@section scripts{
    <script>
        function sendForm(e){
           e.preventDefault();

           Swal.fire({
               title:'Do you want to save the changes?',
               icon:'question',
               showCancelButton:true
           }).then(result=>{
               if(result.isConfirmed){
                   const myForm=document.getElementById('myForm');
                   myForm.submit();
               }
           })
        }
    </script>
}